<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Danh Mục Sản Phẩm - 36 Store</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container mt-5">
        <h2 class="text-center">Danh Mục Sản Phẩm</h2>
        <table class="table table-bordered text-center">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Tên Danh Mục</th>
                <th>Mô Tả</th>
                <th>Hành Động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.name}"></td>
                <td th:text="${category.description}"></td>
                <td>
                    <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>